
* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    margin-top: 2.5em;
    background: url(./images/boston-skyline-l.jpg) no-repeat center center fixed ;
    background-size: cover;
}





h1 {
    color: ivory;
    padding: 1e,;
   
    
}

h2, h3 {
    color: ivory ;
    padding-left: 1em;
    
}
main h2 {
    padding-left: 1em;
    display: flex;
    justify-content: ;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 850px;
    
}
header {
    padding: 5em 0 2em 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(42, 34, 41, .6);
    border-bottom-right-radius:  7px;
    border-bottom-left-radius: 7px;

    
}
header h1 {
    font-size: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
}



header section img {
    
    width: 350px;
    display: flex;
    border-radius: 7px;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: rgb(85, 114, 156);
}
nav a {
    padding: .5em 2em;
    text-decoration: none;
    color: ivory;
}
body{
    display: flex;
    justify-content: center;
}
section {
    margin: 1em 0;
    min-height: 20em;
}
section > p {
    margin: 1em 0;
    
}
section ul {
    padding-left: 1.5em;
}






#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: right;
    height: auto;
    width: 100%;
    border-radius: 7px;
    padding-bottom: 1em;
    background: rgba(42, 34, 41, .6)
}
#aboutMe p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ivory;
    border-radius: 7px;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}
#aboutMe ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ivory;
    border-radius: 7px;
    padding: 1em;
}


#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    
}


#projects article {
    background: rgb(42, 34, 41, .6 );
    border-radius: 7px;
    padding: 1em;
    color: ivory;
}
#projects article img {
    width: 100%;
    border: 1px;
    border-radius: 7px;
}
#getInTouch {
    
    display: flex;
    justify-content: space-around;
    
    
    
}

#projectHeader {
    background: rgb(42, 34, 41, .6 );
    border-radius: 7px;
    width: 175px;

}
#contactLink {
    padding: 1em;
    background-color: rgba(183, 222, 245, .5);
    display: flex;
    border-radius: 7px;
}

#contactHeader {
    background: rgb(42, 34, 41, .6 );
    border-radius: 7px;
    width: 140px;
}



footer {
    display: flex;
    align-self: flex-end;
    margin-top: 3em;
    margin-bottom: 1em;
    color: ivory;
    padding: 1em 0;
    text-align: center;
    padding-left: 20em;
}